<div class="container m-auto">
    <nav class="d-flex justify-content-between">
        <div class="title">
            <h1>Products</h1>

        </div>

        <div class="cart d-flex p-0 mt-2 gap-4 ">
           <div class="cart-container">
    <img src="./img/cart.svg" alt="cart" class="cart-icon">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCart">
        View Cart
    </button>
</div>

             <!-- Modal -->
            <div class="modal fade" id="modalCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modalBody">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
             <button type="button" class="btn btn-info" id="cartFinal">
                Buy Cart
            </button>
        </div>
        </nav>  

<div class="container mt-5">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {{#each products}}
        <div class="col mb-4">
            <div class="card h-100 bg-light">
                <div class="card-header bg-primary text-white">
                    <i class="bi bi-tag"></i> Code: {{this.code}}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-white">{{this.title}}</h5>
                    <ul class="list-unstyled">
                       
                        <li><i class="bi bi-file-text"></i> Description: {{this.description}}</li>
                        <li><i class="bi bi-currency-dollar"></i> Price: ${{this.price}}</li>
                        <li><i class="bi bi-grid"></i> Category: {{this.category}}</li>
                        <li><i class="bi bi-check-circle"></i> Status: {{this.status}}</li>
                        <li>
                            <i class="bi bi-image"></i> Image: <img src="{{this.thumbnail}}" alt="{{this.title}}"
                                class="img-fluid mt-2">
                        </li>
                    </ul>
                    <div class="text-center mt-3">
                <a class="btn btn-success text-lg product" id="{{this._id}}" data-value="{{this.stock}}">Agregar al carrito</a>
            </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div class="container d-flex justify-content-center align-items-center gap-4 p-4">


        {{#if hasPrevPage}}
        <a class="btn btn-primary px-5" href="{{prevLink}}">prev</a>

        {{/if}}

        {{#if hasNextPage}}

        <a class="btn btn-primary px-5" href="{{nextLink}}">next</a>

        <h3>Page: {{page}}/{{totalPages}}</h3>
        {{/if}}
    </div>
</div>
</div>

<script src="js/sendCart.js"></script>